/* muli-regular - latin */

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/muli-v20-latin-regular.woff2') format('woff2'),  url('../fonts/muli-v20-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-900 - latin */

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('../fonts/muli-v20-latin-900.woff2') format('woff2'),  url('../fonts/muli-v20-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.scroll-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
}

.hi {
  background: #8A2387;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F27121), color-stop(#E94057), to(#8A2387));
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hi__title {
  max-width: 80%;
  font-size: -webkit-calc(40px + 60 * (100vw / 1440));
  font-size: calc(40px + 60 * (100vw / 1440));
}

.intro {
  background: #00F260;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#0575E6), to(#00F260));
  background: linear-gradient(to right, #0575E6, #00F260);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro__title {
  font-size: -webkit-calc(34px + 46 * (100vw / 1440));
  font-size: calc(34px + 46 * (100vw / 1440));
  max-width: 80%;
}

.skills {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  background: #360033;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#0b8793), to(#360033));
  background: linear-gradient(to right, #0b8793, #360033);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skills__title {
  width: 90%;
  font-size: -webkit-calc(24px + 40 * (100vw / 1440));
  font-size: calc(24px + 40 * (100vw / 1440));
  color: rgba(255, 255, 255, 0.5);
}

.skills__card {
  max-width: 80vw;
  height: 20vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: -webkit-calc(24px + 18 * (100vw/1440));
  font-size: calc(24px + 18 * (100vw/1440));
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 30px;
}

.skills__card::before {
  content: '1';
  position: absolute;
  top: 50%;
  left: -20%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 100px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.skills__card:hover {
  background: #E44D26;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F16529), to(#E44D26));
  background: linear-gradient(to right, #F16529, #E44D26);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skills__card:nth-child(2)::before {
  content: '2';
  left: 86%;
  font-size: 400px;
}

.skills__card:nth-child(2):hover {
  background: #f0db4f;
  color: #323330;
}

.skills__card:nth-child(3)::before {
  content: '3';
  left: -10%;
  font-size: 150px;
}

.skills__card:nth-child(3):hover {
  background: #e84c50;
}

.skills__card:nth-child(4)::before {
  content: '4';
  left: 90%;
  font-size: 200px;
}

.skills__card:nth-child(4):hover {
  color: #00d8ff;
  background: #222222;
}

.skills__card:hover::before {
  color: #fff;
}

.skills__card:hover::after {
  display: block;
}

.projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #f12711;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f5af19), to(#f12711));
  background: linear-gradient(to bottom, #f5af19, #f12711);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects__title {
  color: rgba(255, 255, 255, 0.5);
  font-size: -webkit-calc(24px + 56 * (100vw / 1440));
  font-size: calc(24px + 56 * (100vw / 1440));
  max-width: 80%;
  z-index: 2;
}

.projects__wrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects__loading-line {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.3);
  background: #833ab4;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects__loading-line_active {
  -webkit-animation: loading-line 1.5s cubic-bezier(0.1, 0.7, 1, 0.1);
          animation: loading-line 1.5s cubic-bezier(0.1, 0.7, 1, 0.1);
}

@-webkit-keyframes loading-line {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes loading-line {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
  background-color: #E94057;
}

.project__casa,
.project__todo,
.project__react {
  width: 30vw;
  height: 30vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #000;
  font-size: -webkit-calc(14px + 10 * (100vw / 1440));
  font-size: calc(14px + 10 * (100vw / 1440));
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  overflow: hidden;
  margin: 15px;
  padding: 10px;
}

.project__casa:hover,
.project__todo:hover,
.project__react:hover,
.project__casa:focus,
.project__todo:focus,
.project__react:focus,
.project__casa:active,
.project__todo:active,
.project__react:active,
.project__casa:hover + .bg,
.project__todo:hover + .bg,
.project__react:hover + .bg,
.project__casa:focus + .bg,
.project__todo:focus + .bg,
.project__react:focus + .bg,
.project__casa:active + .bg,
.project__todo:active + .bg,
.project__react:active + .bg {
  color: #fff;
  opacity: 1;
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#240b36), to(#c31432));
  background: linear-gradient(to top, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project__casa::before,
.project__todo::before,
.project__react::before {
  content: '';
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: -50%;
  background-color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.project__casa::after,
.project__todo::after,
.project__react::after {
  content: '</>';
  display: block;
  font-family: 'Muli';
  font-weight: 900;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-filter: invert(1);
          filter: invert(1);
  pointer-events: none;
}

.project__casa:hover::before,
.project__todo:hover::before,
.project__react:hover::before,
.project__casa:focus::before,
.project__todo:focus::before,
.project__react:focus::before,
.project__casa:active::before,
.project__todo:active::before,
.project__react:active::before {
  display: block;
}

.project__caption {
  margin: 0;
}

.project__todo:hover,
.project__todo:focus,
.project__todo:active,
.project__todo:hover + .bg,
.project__todo:focus + .bg,
.project__todo:active + .bg {
  background: #134E5E;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#71B280), to(#134E5E));
  background: linear-gradient(to bottom, #71B280, #134E5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project__todo::after {
  content: 'js';
}

.project__react {
  cursor: no-drop;
}

.project__react:hover,
.project__react:focus,
.project__react:active,
.project__react:hover + .bg,
.project__react:focus + .bg,
.project__react:active + .bg {
  background: #f7ff00;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#03A9F4), to(#e91e63));
  background: linear-gradient(to bottom, #03A9F4, #e91e63);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

*::-moz-selection {
  background-color: #bf2727;
  color: white;
}

*::selection {
  background-color: #bf2727;
  color: white;
}

figure {
  margin: 0;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'CenturyGothic', sans-serif;
}

input:invalid {
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
  color: transparent;
}

input::-webkit-clear-button {
  display: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  overflow: hidden;
}

button {
  margin: 0;
  padding: 0;
  font-family: 'Aril', sans-serif;
}

section:focus,
div:focus {
  outline: none;
}

.iOS * {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: white;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .skills__card::before {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .project__casa,
  .project__todo,
  .project__react {
    height: 20vh;
    width: 70vw;
  }
}

@media screen and (max-width: 374px) {
  .project__casa,
  .project__todo,
  .project__react {
    font-size: -webkit-calc(14px + (10 + 10 * 0.7) * ((100vw - 320px) / 1440));
    font-size: calc(14px + (10 + 10 * 0.7) * ((100vw - 320px) / 1440));
  }
}

@media screen and (max-width: 320px) {
  .hi__title {
    font-size: -webkit-calc(40px + (60 + 60 * 0.7) * ((100vw - 320px) / 1440));
    font-size: calc(40px + (60 + 60 * 0.7) * ((100vw - 320px) / 1440));
  }

  .intro__title {
    font-size: -webkit-calc(34px + (46 + 46 * 0.7) * ((100vw - 320px) / 1440));
    font-size: calc(34px + (46 + 46 * 0.7) * ((100vw - 320px) / 1440));
  }

  .skills__title {
    font-size: -webkit-calc(24px + (56 + 56 * 0.7) * ((100vw - 320px) / 1440));
    font-size: calc(24px + (56 + 56 * 0.7) * ((100vw - 320px) / 1440));
  }

  .skills__card {
    font-size: 16px;
  }

  .projects__title {
    font-size: -webkit-calc(24px + (18 + 18 * 0.7) * ((100vw - 320px) / 1440));
    font-size: calc(24px + (18 + 18 * 0.7) * ((100vw - 320px) / 1440));
  }
}
/*# sourceMappingURL=style.css.map */
