.scroll-section{
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #fff;

}
.hi{
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &__title{
        max-width: 80%;
        font-size: calc(40px + 60 * (100vw / 1440));

        .media(320px, {
            font-size: calc(40px + (60 + 60 * .7) * ((100vw - 320px) / 1440));
        });
    }
}
.intro{
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &__title{
        font-size: calc(34px + 46 * (100vw / 1440));
        max-width: 80%;

        .media(320px, {
            font-size: calc(34px + (46 + 46 * .7) * ((100vw - 320px) / 1440));
        });
    }
}
.skills{
    flex-direction: column;
    justify-content: space-evenly;

    background: #FFE000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &__card{
        height: 20vh;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        font-size: 42px;
        font-weight: normal;
        background-color: rgba(255, 255, 255, .2);

        padding: 30px;

        &::before{
            content: '1';

            position: absolute;
            top: 50%;
            left: -20%;
            transform: translateY(-50%);

            font-size: 100px;
            font-weight: 900;
            color: rgba(255, 255, 255, .3)

        }

        &:nth-child(2)::before{
            content: '2';
            left: 90%;
            font-size: 200px;
        }
        &:nth-child(3)::before{
            content: '3';
            left: -10%;
            font-size: 150px;
        }
        &:nth-child(4)::before{
            content: '4';
            left: 100%;
            font-size: 400px;
        }
    }

    &:hover{

    }
}
.projects{
    flex-direction: column;
    justify-content: space-evenly;

    &__title{
        color: #fff;
        text-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        font-size: calc(34px + 46 * (100vw / 1440));
        max-width: 80%;
        z-index: 2;

        .media(320px, {
            font-size: calc(34px + (46 + 46 * .7) * ((100vw - 320px) / 1440));
        });
    }
    &__wrap{
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
.bg{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    opacity: 0;
    transition: .5s;
    pointer-events: none;
    background-color: #E94057;
}
.project__casa,
.project__todo,
.project__react{
    width: 30vw;
    height: 30vh;

    position: relative;
    z-index: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    color: #000;
    font-size: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    text-decoration: none;
    overflow: hidden;

    margin: 15px;
    padding: 10px;
    
    .media(720px, {
        height: 20vh;
        width: 70vw;
        font-size: 18px;
    });
    .media(374px, {
        font-size: 14px;
    });

    &:hover,
    &:focus,
    &:active,
    &:hover + .bg,
    &:focus + .bg,
    &:active + .bg{
        color: #fff;
        opacity: 1;
        background: #c31432;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    &::before{
        content: '';

        width: 100%;
        height: 100%;
        
        display: none;

        position: absolute;
        top: 0;
        left: -50%;

        background-color: rgba(255, 255, 255, .2);
        pointer-events: none;
    }
    &::after{
        content: '</>';

        display: block;

        font-family: 'Muli';
        font-weight: 900;
        font-size: 100px;
        color: rgba(255, 255, 255, .1);
        position: absolute;
        bottom: 0;
        right: 0;
        filter: invert(1);

        // background-color: rgba(255, 255, 255, .2);
        pointer-events: none;
    }
    &:hover::before{
        display: block;
    }
}
.project__caption{
    margin: 0;
}
.project__todo{
    &:hover,
    &:focus,
    &:active,
    &:hover + .bg,
    &:focus + .bg,
    &:active + .bg{
        background: #134E5E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    } 

    &::after{
        content: 'js';
    }
}
.project__react{
    cursor: no-drop;

    &:hover,
    &:focus,
    &:active,
    &:hover + .bg,
    &:focus + .bg,
    &:active + .bg{
        background: #f7ff00;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #03A9F4, #e91e63);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #03A9F4, #e91e63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    } 
}