/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-latin-800.woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::before,
*::after {
  box-sizing: inherit;
}
*::selection {
  background-color: #bf2727;
  color: white;
}

figure {
  margin: 0;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'CenturyGothic', sans-serif;
}

input:invalid {
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
  color: transparent;
}

input::-webkit-clear-button {
  display: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  overflow: hidden;
}

button {
  margin: 0;
  padding: 0;
  font-family: 'Aril', sans-serif;
}

section:focus,
div:focus {
  outline: none;
}

.iOS * {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}