.content-wrap{
    width: 88.4%;
    margin: 0 auto;
}
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
::-webkit-scrollbar-track {
    background-color:#ecedee
}
    
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: @blue-s;
}
    
::-webkit-scrollbar-thumb:hover{
    background-color: @yellow;
}
    
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}
    
::-webkit-scrollbar{
    width: 4px;
    .media(370px, {
        width: 3px;
    });
}

.main{
    &__wrapper{
        padding-top: 80px;
        height: calc(100vh - 230px);
        background-color: @white;
        border-radius: 0 0 @border-radius @border-radius;
        position: relative;
        overflow: hidden; 

        .media(768px, {
            height: calc(100vh - 180px);
        }); 
        .media(630px, {
            height: calc(100vh - 130px);
            padding-top: 60px;
        }); 
        .media(370px, {
            height: calc(100vh - 100px);
            padding-top: 45px;
        }); 
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: -100%;
            left: 0;
            z-index: 7;
            background: rgba(0, 0, 0, 0.3);
        }

        &_edit{
            &::after{
                top: 0;
            }
        }
    }
    &__notes-wrap{
        padding: 5px;
        margin: -5px;
        height: calc(100vh - 420px);
        overflow-y: auto;

        .media(630px, {
            height: calc(100vh - 320px);
        }); 
        .media(370px, {
            height: calc(100vh - 220px);
        });
    }
    &__note{
        width: 100%;
        min-height: 130px;
        margin-bottom: 40px;

        .media(630px, {
            min-height: 90px;
            margin-bottom: 25px;
        });
        .media(370px, {
            min-height: 70px;
            margin-bottom: 15px;
        });
    }
    &__opacity-decor{
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
    }
    &__create-task{
        position: absolute;
        z-index: 5;
        left: 50%;
        bottom: 45px;
        transform: translateX(-50%);
    }
}
.filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    
    .media(630px, {
        margin-bottom: 20px;
    }); 
    &__sort,
    &__clear{
        display: flex;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: @grey-m;
        text-transform: uppercase;
        background: transparent;
        border: none;
        outline: none; 
        cursor: pointer;

        .media(630px, {
            font-size: 11px;
        });
        .media(370px, {
            font-size: 9px;
        });
        &:hover,
        &:focus,
        &:active{
            color: @grey-l;
        }
    }
    &__icon{
        display: flex;
        flex-direction: column;
        margin-right: 8px;
        .media(630px, {
            margin-right: 6px;
            padding-top: 1px;
        });
        .media(370px, {
            padding-top: 3px;
        });

        &-span{
            display: block;
            width: 18px;
            height: 2px;
            background-color: @grey-m;
            margin-bottom: 3px;

            &:nth-child(2){
                width: 12px;
            }
            &:nth-child(3){
                width: 6px;
                margin-bottom: 0;
            }
            .media(630px, {
                width: 15px;
                height: 1px;
                margin-bottom: 3px;
                &:nth-child(2){
                    width: 10px;
                }
            });
            .media(370px, {
                width: 12px;
                margin-bottom: 2px;
                &:nth-child(2){
                    width: 8px;
                }
                &:nth-child(3){
                    width: 4px;
                    margin-bottom: 0;
                }
            });
        }
    }
    &__sort:hover &__icon-span,
    &__sort:focus &__icon-span,
    &__sort:active &__icon-span{
        background-color: @grey-l;
    }
    &__sort-menu{
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 3;
    }
}
.sort-menu{
    display: none;
    flex-direction: column;

    width: 250px;
    min-height: 160px;
    background: @white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
    border-radius: @border-radius;
    padding: 24px 19px;

    .media(370px, {
        width: 150px;
        min-height: 128px;
        padding: 20px 15px;
    });
    &_active{
        display: flex;
    }

    &__wrap{
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        cursor: pointer;

        &:last-child{
            margin-bottom: 0;
        }
    }
    &__radio{
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: @white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
        margin: 0 10px 0 0;
        outline: none;
        cursor: pointer;

        position: relative;

        .media(370px, {
            width: 14px;
            height: 14px;
        });

        &:after{
            content: '';
            display: none;
            width: 8px;
            height: 8px;
            background: #C4C4C4;
            border-radius: 50%;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            .media(370px, {
                width: 6px;
                height: 6px;
            });
        }
        &:checked{
            &:after{
                display: block;
            }
        }
    }
    &__caption{
        font-size: 14px;
        line-height: 14px;
        color: #8E8E8E;

        .media(370px, {
            font-size: 11px;
            line-height: 11px;
        });
    }
}   
.note{
    display: flex;
    align-items: center;
    padding: 0 26px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: @border-radius;
    position: relative;
    overflow: hidden;

    .media(630px, {
        padding: 0 18px;
    });
    &__check{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: @white url(../img/dist/task__done.png) no-repeat center;
        border: none;
        outline: none;
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.35);
        margin-right: 40px;
        transition: @transition;
        cursor: pointer;

        .media(630px, {
            width: 40px;
            height: 40px;
            background-size: 20px 20px;
            margin-right: 20px;
        });
        .media(370px, {
            width: 30px;
            height: 30px;
            background-size: 15px 15px;
            margin-right: 15px;
        })
    }
    &__content{
        width: calc(100% - 240px);
        font-family: 'Roboto';
        font-size: 24px;
        line-height: 28px;
        color: @grey-l;
        background: transparent;
        border: none;
        outline-color: #B9B9B9;
        margin-right: 30px;
        resize: none;
        padding: 5px;
        .media(630px, {
            width: calc(100% - 146px);
            font-size: 16px;
            line-height: 18px;
            margin-right: 15px;
        });
        .media(370px, {
            width: calc(100% - 111px);
            font-size: 12px;
            line-height: 13px;
            margin-right: 12px;
        })
    }
    &__edit{
        width: 42px;
        height: 42px;
        background: url(../img/dist/task__edit.png) no-repeat center;
        border: none;
        outline: none;
        margin-right: 30px;
        cursor: pointer;

        .media(630px, {
            width: 28px;
            height: 28px;
            background-size: cover;
            margin-right: 15px;
        });
        .media(370px, {
            width: 21px;
            height: 21px;
            margin-right: 12px;
        })
    }
    &__delete{
        display: block;
        width: 38px;
        height: 42px;
        background: url(../img/dist/task__remove.png) no-repeat center;
        border: none;
        outline: none;
        cursor: pointer;

        .media(630px, {
            width: 28px;
            height: 28px;
            background-size: cover;
        });
        .media(370px, {
            width: 21px;
            height: 21px;
        })
    }
    &__save{
        display: none;
        width: 42px;
        height: 42px;
        background: url(../img/dist/task__edit-done.png) no-repeat center;
        background-size: cover;
        border: none;
        outline: none;
        margin-right: 30px;
        cursor: pointer;

        .media(630px, {
            width: 28px;
            height: 28px;
            margin-right: 15px;
        });
        .media(370px, {
            width: 21px;
            height: 21px;
            margin-right: 12px;
        })
    }
    &__cancel{
        display: none;
        position: relative;
        width: 38px;
        height: 38px;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;

        .media(630px, {
            width: 28px;
            height: 28px;
            background-size: cover;
        });
        .media(370px, {
            width: 21px;
            height: 21px;
        });

        &::after,
        &::before{
            content: '';
            display: block;
            width: 53px;
            height: 2px;
            position: absolute;
            z-index: 2;
            background: @grey-m;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            .media(630px, {
                width: 39px;
            });
            .media(370px, {
                width: 29px;
                height: 1px;
            });
        }
        &::after{
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }
    &__border-bot{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;

        &_blue{
            background: @blue-s;
        }
        &_yellow{
            background: @yellow;
        }
        .media(370px, {
            height: 4px;
        })
    }
    &_completed{
        & .note__check{
            background-color: @blue-s;
        }
        & .note__content{
            color: @grey-s;
            text-decoration: line-through;
            .media(630px, {
                width: calc(100% - 103px);
            });
            .media(370px, {
                width: calc(100% - 78px);
            })
        }
        & .note__edit{
            display: none;
        }
    }
    &_edited{
        z-index: 8;

        .note__check{
            display: none;
        }
        .note__content{
            width: calc(100% - 140px);
            border: 1px solid rgba(0, 0, 0, 0.2);
            .media(630px, {
                width: calc(100% - 86px);
            });
            .media(370px, {
                width: calc(100% - 66px);
            })
        }
        .note__edit{
            display: none;
        }
        .note__delete{
            display: none;
        }
        .note__save{
            display: block;
        }
        .note__cancel{
            display: block;
        }
    }
}
.opacity-decor{
    width: 100%;
    height: 20vh;
    border-radius: 0 0 @border-radius @border-radius;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, #FFFFFF 100%);

    .media(630px, {
        height: 15vh;
    });
}
.create-task{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: @blue-m;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.45);
    border: none;
    outline: none;
    transition: @transition;
    cursor: pointer;

    .media(630px, {
        width: 75px;
        height: 75px;
    });
    .media(370px, {
        width: 50px;
        height: 50px;
    });

    &::before,
    &::after{
        content: '';
        display: block;
        width: 50px;
        height: 5px;
        position: absolute;
        z-index: 6;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: @white;
        transition: @transition;

        .media(630px, {
            width: 37px;
            height: 3px;
        });
        .media(370px, {
            width: 25px;
            height: 2px;
        });
    }
    &::after{
        transform: translateX(-50%) translateY(-50%) rotate(90deg);
    }

    &:hover,
    &:focus,
    &:active{
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.65);  

        &::after,
        &::before{
            width: 60px;

            .media(630px, {
                width: 45px;
            });
            .media(370px, {
                width: 30px;
            });
        }
    }
}
.field{
    width: 100%;
    min-height: 165px;
    position: absolute;
    z-index: 11;
    left: 0;
    bottom: 0;
    background: @white;
    display: flex;
    align-items: center;
    transition: @transition;
    transform: translateY(100%);

    .media(630px, {
        min-height: 110px;
    });
    .media(370px, {
        min-height: 80px;
    });

    &_active{
        transform: translateY(0);
    }

    &__content-wrap{
        display: flex;
        align-items: center;
    }
    &__border-bot{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        .media(370px, {
            height: 4px;
        })
    }
    &__content{
        width: calc(100% - 140px);
        font-size: 24px;
        line-height: 28px;
        color: @grey-l;
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline-color: #B9B9B9;
        margin-right: 30px;
        resize: none;
        padding: 5px;
        .media(630px, {
            width: calc(100% - 86px);
            font-size: 16px;
            line-height: 18px;
            margin-right: 15px;
        });
        .media(370px, {
            width: calc(100% - 66px);
            font-size: 12px;
            line-height: 13px;
            margin-right: 12px;
        });
    }
    &__add{
        width: 42px;
        height: 42px;
        background: url(../img/dist/task__edit-done.png) no-repeat center;
        background-size: cover;
        border: none;
        outline: none;
        margin-right: 30px;
        cursor: pointer;

        .media(630px, {
            width: 28px;
            height: 28px;
            margin-right: 15px;
        });
        .media(370px, {
            width: 21px;
            height: 21px;
            margin-right: 12px;
        })
    }
    &__calcel{
        position: relative;
        width: 38px;
        height: 38px;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;

        .media(630px, {
            width: 28px;
            height: 28px;
            background-size: cover;
        });
        .media(370px, {
            width: 21px;
            height: 21px;
        });

        &::after,
        &::before{
            content: '';
            display: block;
            width: 53px;
            height: 2px;
            position: absolute;
            z-index: 2;
            background: @grey-m;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            .media(630px, {
                width: 39px;
            });
            .media(370px, {
                width: 29px;
                height: 1px;
            });
        }
        &::after{
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }
    
}