@import "varibles";
@import "fonts";
@import "reset";
@import "mixins";
@import "header";
@import "footer";
@import "slick";

.span_text-weight_ligth {
  font-weight: 400;
}
.wrapper {
  max-width: 1310px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

//intro styles start

.intro {
  width: 100%;
  background: url(../img/intro-bg.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 120px;

  .media(650px, {margin-bottom: 60px;});

  &__wrapper {
    padding-top: 154px;
    padding-bottom: 250px;

    .media(1340px, {max-width: 780px;});
    .media(600px, {padding-top: 80px; padding-bottom: 130px;});
  }
  &__title {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 12px;
  }
  &__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 54px;
  }
  &__form-wrap {
    width: 100%;
    min-height: 120px;
    background: @white;
    border-radius: @border-radius;
    padding: 30px;

    .media(1340px, {max-width: 750px;});
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;

    .media(1340px, {justify-content: space-between;});
  }
  &__min-wrap {
    display: flex;
    flex-direction: column;
    background: @grey-xs;
    border-radius: @border-radius;
    margin-right: 30px;
    padding: 10px 15px;
    cursor: pointer;
    flex-basis: 188px;
    min-width: 155px;

    &_lg {
      flex-basis: 269px;
    }

    .media(1340px, {margin-right: 0; flex-basis: 48%; margin-bottom: 30px;});

    .media(500px, {flex-basis: 100%;});
  }
  &__selection-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: @grey-s;
    margin-bottom: 5px;
  }
  &__type-list {
    width: 100%;
    background: @grey-xs;
    border: none;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: @grey-xxxl;
    padding: 0 15px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    position: relative;
    cursor: pointer;
    background: url(../img/nav-list-icon.png) right center no-repeat;
  }

  &__type {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: @grey-xxxl;
    border: none;
    outline: none;
  }
  &__search {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    min-width: 456px;
    background: @grey-xs;
    padding: 20px;
    border: none;
    color: @grey-xl;
    margin-right: 30px;
    border-radius: @border-radius;
    transition: @transition;

    .media(1340px, {width: 100%; margin-right: 0; margin-bottom: 30px;});
  }
  &__submit {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: @white;
    background: @blue;
    padding: 20px 30px;
    border-radius: @border-radius;
    border: none;
    transition: @transition;
    display: flex;
    align-items: center;

    .no-touch &:hover,
    &:focus,
    &:active {
      background: @orange;
    }

    .media(1340px, {flex-basis: 100%; justify-content: center;});
  }
}

//intro styles finished

//properties styles finished

.properties {
  width: 100%;
  margin-bottom: 180px;

  .media(650px, {margin-bottom: 60px;});

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__section-caption {
    margin-bottom: 88px;

    .media(650px, {margin-bottom: 50px;});
  }
  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 68px;

    .media(1150px, {grid-template-columns: repeat(2, 1fr) ;});
    .media(710px, {grid-template-columns: repeat(1, 1fr) ;});
    .media(650px, {margin-bottom: 30px;});
  }
  &__main-link {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    color: @white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 19px 47px;
    background-color: @black;
    border-radius: 29px;
    transition: @transition;
    display: flex;
    align-items: center;
    text-align: center;

    .media(650px, {font-size: 12px; line-height: 14px; padding: 12px 33px;});

    .no-touch &:hover,
    &:focus,
    &:active {
      background-color: @grey-xs;
      color: @black;
    }
  }
}
.project-card {
  position: relative;
  padding-top: 69.85%;

  &__img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &__pic {
    width: 100%;
    object-fit: cover;
  }
  &__card-status {
    width: 88%;
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }
  &__min-wrap {
    display: flex;
    justify-content: space-between;
  }
  &__status {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 8px 10px;
    background-color: @blue;
    border-radius: @border-radius;
    display: flex;
    align-items: center;

    &_orange {
      background-color: @orange;
      margin-left: 4px;
    }
  }
  &__lightning,
  &__like-icon,
  &__next-icon {
    width: 34px;
    height: 30px;
    background: @blue url(../img/lightning-icon.png) center no-repeat;
    border-radius: @border-radius;
  }
  &__price {
    width: 88%;
    position: absolute;
    bottom: 25px;
    left: 25px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }
  &__cost {
    font-size: 15px;
    line-height: 18px;
    padding: 5px 15px;
    color: @blue;
    background-color: @white;
    border-radius: @border-radius;
    display: flex;
    align-items: center;
  }
  &__like-icon {
    margin-right: 4px;
    background: @black url(../img/heart-icon.png) center no-repeat;
  }
  &__next-icon {
    background: @black url(../img/arrow-icon.png) center no-repeat;
  }
  &__description {
    width: 100%;
    background: @white;
    padding: 20px 25px;
  }
  &__place {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: @grey-l;
    padding-left: 16px;
    background: url(../img/place-icon_orange.png) left center no-repeat;
    margin-bottom: 20px;
  }
  &__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: @black-ligth;
    margin-bottom: 23px;
  }
  &__author {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: @blue;
    padding-left: 22px;
    margin-bottom: 40px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../img/author.jpg) center no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
  }
  &__time-for-sale {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: @grey-l;
    padding-left: 20px;
    background: url(../img/calendar-icon.png) left top no-repeat;
  }
  &__area,
  &__garage,
  &__bathroom,
  &__bedroom {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: @black-ligth;
    padding-left: 20px;
    margin-right: 22px;
    background: url(../img/area-icon.png) left center no-repeat;

    .media(365px, {font-size: 14px; margin-right: 10px;});
  }
  &__garage {
    background-image: url(../img/garage-icon.png);
  }
  &__bathroom {
    background-image: url(../img/bathroom-icon.png);
  }
  &__bedroom {
    background-image: url(../img/bedroom-icon.png);
    margin-right: 0;
  }
}
.section-caption {
  text-align: center;

  &__subtitle {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: @grey-m;

    .media(650px, {font-size: 11px; line-height: 14px;});
  }
  &__title {
    font-size: 56px;
    line-height: 66px;
    color: @black-ligth;

    .media(650px, {font-size: 42px; line-height: 44px;});
  }
}

//properties styles finished

//deals styles start

.deals {
  margin-bottom: 182px;

  .media(650px, {margin-bottom: 60px;});
  &__section-caption {
    margin-bottom: 88px;

    .media(650px, {margin-bottom: 50px;});
  }
  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;

    .media(1150px, {max-width: 750px; grid-template-columns: repeat(1, 1fr) ;});
  }
  &__img {
    position: relative;
  }
  &__pic {
    width: 100%;
    object-fit: cover;
    min-height: 610px;

    .media(1150px, {min-height: 300px; max-height: 600px;});
  }
  &__more-photos {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2a42e8;
    padding: 10px 20px;
    background: @white;
    border-radius: @border-radius;
    border: none;
    position: absolute;
    bottom: 58px;
    left: 65px;

    .media(600px, {bottom: 30px; left: 30px;});
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: @grey-xxxxl;
    padding: 60px 0;

    .media(1150px, {order: -1; padding: 30px 0;});
  }
  &__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: @grey-s;
    margin-bottom: 38px;
  }
  &__title {
    font-size: 36px;
    line-height: 43px;
    color: @white;
    margin-bottom: 40px;

    .media(600px, {text-align: center;});
  }
  &__place {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: @grey-s;
    margin-bottom: 53px;
    padding-left: 24px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 17px;
      height: 17px;
      background: url(../img/gray-point-icon.png) center no-repeat;
      background-size: cover;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
  &__cost {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: @white;
    padding: 11px 27px;
    background-color: @orange;
    border-radius: @border-radius;
    margin-bottom: 60px;
  }
  &__link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid @grey-s;
    background-color: @grey-xxxxl;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    .media(600px, {margin-bottom: 0;});
  }
  &__play {
    width: 0;
    height: 0;
    border-left: 17px solid @grey-s;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    transform: translateX(10%);
  }
  &__min-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    .media(600px, {display: none;});
  }
  &__column-wrap {
    display: flex;
    flex-direction: column;
  }
  &__statistics {
    margin-right: 40px;
    display: flex;
    &:last-child {
      margin-right: 0;
    }
  }
  &__area-num,
  &__area-unit {
    font-size: 18px;
    line-height: 21px;
    color: @grey-s;
  }
  &__area-unit {
    font-weight: normal;
  }
  &-icon {
    max-height: 41px;
    margin-right: 11px;
  }
}

//deals styles finished

//towns styles start

.towns {
  margin-bottom: 120px;

  .media(650px, {margin-bottom: 60px;});

  &__section-caption {
    margin-bottom: 89px;

    .media(650px, {margin-bottom: 50px;});
  }
  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .media(1000px, {grid-template-columns: repeat(2, 1fr) ;});
  }
  &__card {
    min-height: 360px;
    background-color: @grey-l;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    background-color: @black;

    &_sm {
      grid-column: span 1;

      .media(1000px, {grid-column: span 2;});
    }
    &_lg {
      grid-column: span 2;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    opacity: 0.7;
    min-height: 360px;
  }
  &__info-wrap {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 3px;
  }
  &__properties-num {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-left: 24px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 17px;
      height: 17px;
      background: url(../img/white-point-icon.png) center no-repeat;
      background-size: cover;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    transition: @transition;

    .no-touch &:hover,
    &:focus,
    &:active {
      box-shadow: inset 0 0 50px @black-ligth;
    }
  }
}

//towns styles finished

//team styles start

.team {
  padding: 92px 0 67px 0;
  background-color: #f3f3f3;
  position: relative;

  &__section-caption {
    margin-bottom: 75px;

    .media(650px, {margin-bottom: 50px;});
  }
  &__wokers {
    padding-bottom: 71px;
    overflow: visible;
  }
  &__slider {
    overflow: none;

    & .slick-track {
      padding: 15px 0;
    }
    & .slick-dots {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      font-size: 0;

      & li {
        margin-right: 29px;
        &:last-child {
          margin-right: 0;
        }
      }
      & button {
        display: block;
        width: 20px;
        height: 20px;
        border: none;
        outline: none;
        background-color: transparent;
      }
      & li.slick-active button {
        &::after {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.slick-dots button {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: @black;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 2px solid @black;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: @transition;
  }
}
.people-card {
  flex-basis: 400px;
  background-color: @white;
  padding: 30px;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  transition: @transition;
  margin: 0 15px;

  .no-touch &:hover,
  &:focus,
  &:active {
    box-shadow: 0 5px 10px @grey-s;
  }
  &__img {
    width: 100%;
    margin-bottom: 28px;
    max-height: 254px;
    overflow: hidden;
    border-radius: @border-radius;
  }
  &__pic {
    width: 100%;
    object-fit: cover;
  }
  &__subtitle {
    display: block;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: @grey-s;
  }
  &__title {
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.2px;
    color: @black-ligth;
    text-transform: uppercase;
    margin-bottom: 29px;
  }
  &__phone,
  &__mail {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: @grey-xl;
    margin-bottom: 8px;
    text-decoration: none;
  }
  &__mail {
    margin-bottom: 46px;
  }
  &__media-wrap {
    display: flex;
    border: 1px solid @grey-xs;
    border-radius: @border-radius;
  }
  &__media-link {
    display: block;
    width: 70px;
    height: 54px;
    border-right: 1px solid @grey-xs;
    background-size: cover;
    transition: @transition;

    .no-touch &:hover,
    &:focus,
    &:active {
      background-color: @grey-xs;
    }
    &_facebook {
      background: url(../img/facebook-black-icon.png) center no-repeat;
    }
    &_twitter {
      background: url(../img/twitter-black-icon.png) center no-repeat;
    }
    &_inst {
      border: 0;
      background: url(../img/inst-black-icon.png) center no-repeat;
    }
  }
}

//team styles finished

//sell styles start

.sell {
  padding: 186px 0;
  background: url(../img/intro-bg.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 132px;

  .media(540px, {padding: 100px 0;});
  .media(650px, {margin-bottom: 60px;});

  &__content {
    max-width: 734px;
    background-color: @blue;
    padding: 90px 76px;
    display: inline-block;

    .media(540px, {padding: 70px 60px;});
    .media(360px, {padding: 45px 30px;});
  }
  &__title {
    max-width: 350px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 35px;

    .media(540px, {font-size: 42px; line-height: 42px; margin-bottom: 30px;});
  }
  &__info {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #c6cbea;
    margin-bottom: 42px;

    .media(540px, {font-size: 18px; line-height: 25px; margin-bottom: 35px;});
  }
  &__link {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    color: @white;
    text-transform: uppercase;
    text-decoration: none;
    background: @black;
    border-radius: 29px;
    padding: 18px 90px 18px 36px;
    position: relative;
    transition: @transition;

    .media(
      450px,
      {font-size: 14px; line-height: 18px; padding: 18px 45px 18px 20px;}
    );

    .no-touch &:hover,
    &:focus,
    &:active {
      background-color: @grey-xs;
      color: @black;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 18px;
      width: 6px;
      height: 9px;
      background: url(../img/next-icon.png) center no-repeat;
      background-size: cover;
      transition: @transition;
    }
    .no-touch &:hover::before,
    &:focus::before,
    &:active::before {
      height: 100%;
      background: @blue;
      right: 50px;
    }
  }
}

//sell styles finished

//estate styles start

.estate {
  margin-bottom: 194px;

  .media(860px, {margin-bottom: 50px;});
  .media(650px, {margin-bottom: 0px;});

  &__section-caption {
    margin-bottom: 87px;

    .media(650px, {margin-bottom: 50px;});
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .media(860px, {justify-content: center;});
  }
  &__card {
    width: 31.8666666%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 44px 30px;
    background-color: @white;
    transition: @transition;

    .media(860px, {max-width: 500px; width: 100%; margin-bottom: 30px;});

    .no-touch &:hover,
    &:focus,
    &:active {
      box-shadow: 0 5px 10px @grey-s;
    }
  }
  &__indicators {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #676767;
    margin-bottom: 21px;
  }
  &__status {
    position: relative;
    padding-left: 27px;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 19px;
      background: url(../img/verified-icon.png) center no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__estimation {
    position: relative;
    padding-left: 23px;

    &::before {
      content: "";
      display: block;
      width: 19px;
      height: 18px;
      background: url(../img/score-star.png) center no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      top: -1px;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
  }
  &__pic {
    max-width: 160px;
    width: 100%;
  }
  &__location {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #999999;
    margin-bottom: 15px;
    position: relative;
    padding-left: 34px;

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 16px;
      background: url(../img/usa-flag.png) center no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__title {
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.2px;
    color: @black-ligth;
    margin-bottom: 13px;
  }
  &__phone {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: @grey-xl;
    text-decoration: none;
    margin-bottom: 9px;
  }
  &__mail {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: @grey-xl;
    text-align: center;
    margin-bottom: 35px;
  }
  &__properties {
    display: flex;
    align-items: center;
    background: #eaedfd;
    border-radius: 3px;
    color: @blue;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    padding: 13px 18px;
    transition: @transition;

    .no-touch &:hover,
    &:focus,
    &:active {
      background: @blue;
      color: @white;
    }
  }
}

//estate styles finished

//articles styles start

.articles {
  padding: 120px 0;
  background-color: #f3f3f3;

  .media(650px, {padding: 60px 0;});

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__section-caption {
    margin-bottom: 123px;

    .media(650px, {margin-bottom: 50px;});
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 127px;
    .media(650px, {margin-bottom: 30px;});
  }
  &__card {
    width: 31.8666666%;
    min-height: 514px;
    background-color: @white;
    position: relative;

    .media(1100px, {width: 49%; margin-bottom: 15px;});
    .media(775px, {width: 100%;});
  }
  &__img {
    width: 100%;
    object-fit: cover;
    min-height: 266px;
  }
  &__info {
    padding: 30px 30px 75px 30px;
  }
  &__category {
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: @white;
    background: @blue;
    border-radius: 3px;
    padding: 4px 12px;
    margin-bottom: 16px;
  }
  &__title {
    font-size: 28px;
    line-height: 33px;
    color: @black-ligth;
    text-transform: uppercase;
  }
  &__date {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    color: @black-ligth;
  }
  &__link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: @transition;

    .no-touch &:hover,
    &:focus,
    &:active {
      box-shadow: 0 5px 10px @grey-s;
    }
  }
  &__main-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    color: @white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 19px 47px;
    background-color: @black;
    border-radius: 29px;
    transition: @transition;
    text-align: center;

    .media(650px, {font-size: 12px; line-height: 14px; padding: 12px 33px;});

    .no-touch &:hover,
    &:focus,
    &:active {
      background-color: @grey-xs;
      color: @black;
    }

    .media(650px, {font-size: 12px; line-height: 14px;});
  }
}

//articles styles finished

//reviews styles start

.reviews {
  width: 100%;
  background: url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 160px 0 190px 0;

  .media(650px, {padding: 100px 0 125px 0;});

  &__subtitle {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #f4f4f4;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  &__title {
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 108px;

    .media(480px, {margin-bottom: 70px;});
  }
  &__content {
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #f4f4f4;
    margin-bottom: 59px;

    .media(480px, {font-size: 24px; line-height: 36px;});
  }
  &__slider {
    width: 100%;
    position: relative;

    & .slick-arrow {
      position: absolute;
      z-index: 4;
      bottom: -100px;
      left: 0;
      font-size: 0;
      display: block;
      width: 60px;
      height: 60px;
      background: @blue url(../img/arrow-l.svg) center no-repeat;
      border: none;
      border-radius: @border-radius;
      transition: @transition;

      &.slick-prev {
        left: 0;
      }
      &.slick-next {
        background-image: url(../img/arrow-r.svg);
        left: 65px;
      }

      .no-touch &:hover,
      &:focus,
      &:active {
        background-color: darken(@blue, 10%);
      }
    }
  }
  &__slide {
    .media(480px, {padding-bottom: 40px;});
  }
  &__user-wrap {
    display: flex !important;
    align-items: center;
    position: relative;
  }
  &__user-pic {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
  }
  &__user-data {
    display: flex;
    flex-direction: column;
  }
  &__user-name {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #f4f4f4;
    margin-bottom: 3px;
    text-transform: uppercase;
  }
  &__user-location {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #afafaf;
    text-transform: uppercase;
  }
}

//reviews styles finished
